<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhm.universityhelper.dao.ChatMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        insert into universityhelper.uh_chat(fromUsername,toUsername,content,time,isRead) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fromUsername},#{item.toUsername},#{item.content},#{item.time},#{item.isRead})
        </foreach>
    </insert>
</mapper>